language: node_js
node_js:
  - '8'
  - '10'
  - '12'
  - '13'
dist: focal
install:
  - sudo apt-get install -y can-utils
  - sudo apt-get install -y libnode-dev
  - sudo apt-get install linux-modules-extra-$(uname -r)
before_script:
  - npm install -g mocha
  - npm install
script:
  - sh prepare_test_env.sh
  - NODE_PATH=. mocha
